html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
  position: relative;
  min-height: 100%;
}
h1,
h4{
    color: white;
}

p{
    color: white;
}

.container-fluid{
    color: white;
    background-color: darkgreen;
}

header{
    color: white;
}

body {
  margin-bottom: 60px;
  background-color: darkgreen;
}

.form-group{
    color: white;
    padding-top: 1rem;
}

a {
    color: white;
}

a:hover{
    color: white;
    background-color: lightgreen;
}

.table{
    color: white;
}
.row{
    color: white;
}

footer{
    color: white;
}

.container{
    color: white;
}