@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to Coding Byte's Review Site</p>
    <br />
   <br />
   <br />
   <h5> Who we are</h5>
   <p> We are Coding Bytes, an awesome 3 person group taking the amazing C# class at We Can Code IT, Summer 2022. 
       In this class, we were assigned to create a MVC program from start to finish. Working along side our instructors, we were able to execute this task. </p>
       <br />
       <br />
       <h5> Why School Supplies??</h5>
       <p> Excellent question! We chose the topic of school supplies because it is a topic that hopefully everyone can relate to. Hopefully you remember having binders and notebooks, and can't forget, writing utensils.
           I (Dina) remember always forgetting mine, and the teachers getting upset! <em>(insert sad face).</em> </p>
           <br />
           <br />
           <h5> Enjoy! </h5>
           <p> We hope that you enjoy this review site, and hopefully contribute some data! </p>
           <br />
           <br />
           <p> <strong> From, the Amazing rockstars - Coding Bytes: <br />
               Michael Granzeier, Thomas Joyce and Dina Morgan </strong></p>
</div>
